<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Api</title>
</head>
<body>
  <h1>Star Wars-API</h1>
    <form action="/"  method="post" >
        <label for="planets"> StarShips </label>
        <input type="submit" name="planets">
    </form>
    <div class="container" >
        <% if (locals.ship) { %> 
            <h1>Name: <%= ship.name %> </h1>
            <h2>Model: <%= ship.model %></h2> 
            <p>Manufacturer: <%= ship.manufacturer %> </p>
            <p>Cost: <%= ship.cost_in_credits %> </p>
        <%  } %>
    </div>
</body>
</html>