/* Font Classes */

/* .lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */




body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1c1e22;

    color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

button {
    width: 10em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid #252525;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: yellow;
    background-color: #272b30;
    border: 1px solid yellow;
}
button:hover,
button:focus {
  
}

.title {
    padding: 1.5em;
    background-color: #272b30;
    color: yellow;
    font-family: open-sans;
    font-size: 3rem;
}

.container {
    border: 1px solid #333;
    color: #333;
    background-color: ivory;
    padding: 3em;
    text-align: center;
    border-radius: 5px;
}